*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

certs
Sample_JWTs.txt

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

standalone-eks-stack/.yarn/*
!standalone-eks-stack/.yarn/cache
!standalone-eks-stack/.yarn/patches
!standalone-eks-stack/.yarn/plugins
!standalone-eks-stack/.yarn/releases
!standalone-eks-stack/.yarn/sdks
!standalone-eks-stack/.yarn/versions

*__pycache__*
